body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.stopwatch {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px black(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

#display {
    font-size: 40px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
}

button:hover {
    background-color: blue;
}

.laps {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 20px;
}

.lap-item {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
}

